.bodyComponent {
    height: calc(100% - var(--header-height) - var(--footer-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyComponent__heroSection {
    color: white;
    font-size: 72px;
    text-align: center;
    letter-spacing: 10px;
}

.bodyComponent__shortIntroduction {
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: lighter;
    letter-spacing: 4px;
    margin-top: 30px;
}

.bodyComponent__downloadBtn {
    height: fit-content;
    width: 500px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 20px 0;
    border-radius: 40px;
    margin-top: 60px;
    border: 1px solid white;
    transition: all ease-in-out .2s;
}

.bodyComponent__downloadBtn:hover {
    cursor: grab;
    color: white;
    background-color: #3f3e46;
    border: 1px solid white;
}

.bodyComponent__downloadBtn:active {
    cursor: grab;
    color: white;
    background-color: black;
    border: 1px solid white;
}

@media only screen and (max-width: 600px) {
    .bodyComponent__heroSection {
        color: white;
        font-size: 46px;
        text-align: center;
        letter-spacing: 0 ;
    }

    .bodyComponent__shortIntroduction {
        letter-spacing: 0;
        /* padding: 0 50px; */
        margin-top: 20px;
        font-size: 12px;
    }

    .bodyComponent__shortIntroduction span {
        display: none;
    }

    .bodyComponent__shortIntroduction::after {
        content: 'Stay connected wherever you are';
    }

    .bodyComponent__downloadBtn {
        height: fit-content;
        width: 80%;
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding: 15px 0;
        border-radius: 40px;
        margin-top: 40px;
        border: 1px solid white;
        transition: all ease-in-out .2s;
    }
}