.header {
    height: var(--header-height);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--main-Padding_left_right);
}

.header__nameBox {
    height: 100%;
    width: fit-content;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    gap: 5px;

    .header__nameBox__logo {
        height: 50%;
        width: auto;
    }

    .header__nameBox__appName {
        font-size: 18px;
        font-weight: 400;
        color: white;
    }
}

@media only screen and (max-width: 600px) {
    .header__nameBox__logo {
        height: 40% !important;
    }

    .header__nameBox__appName {
        font-size: 14px !important;
    }
}